*{
    box-sizing: border-box;
}
html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #555;
    font-size: 16px;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.header{
    color: white;
    background-image: linear-gradient(60deg, red, orange);
    display: flex;
    text-align: center;
    justify-content: center;
}
.footer{
    background-color: #E5E5E5;
    padding: 0.5em;
    text-align: center;
}
.main{
    display: flex;
    flex-grow: 1;
}

.nav-list{
    padding: 0px;
}
.navigation{
    padding: 0.5em;
    width: 20%;
}
.section{
    padding: 0.5em;
    width: 60%;
    font-size: 1.25em;
}
.css-units{
    color: #8B0000;
    background-color: #E5E5E5;
    font-size: 1.125em;
    font-weight: 700;
}
.news{
    padding: 0.5em;
    width: 20%;
}
.section__header{
    text-align: center;
    font-size: 5vw;
}
.nav-list-item{
    background-color:#808080;
    color: white;
    height: 2em;
    line-height: 2em;
    margin-bottom: 0.5em;
}

.units-list{
    line-height: 1.75em;
}
.nav-list-link{
    width: 100%;
    display: inline-block;
    color: white;
    padding: 0 0.5em;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

